In [ ]:
import numpy as np
import pandas as pd

In [14]:
def get_gene(df, genes):
    # Extract column names from the DataFrame
    existing_columns = df.columns
    
    # Specify the desired columns
    desired_columns = genes
    
    # Find missing columns
    missing_columns = [col for col in desired_columns if col not in existing_columns]
    # print(missing_columns)
    # Fill missing columns with 0
    for col in missing_columns:
        df[col] = 0
    df = df[desired_columns]
    print('ok')
    return df

In [ ]:
cnts_directory = 'st2image/data/ST-cnts/'
files = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
genes = []
for patient in files:
    if patient in ('A', 'B', 'C', 'D'):
        for i in range(1, 7):
            cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
            print(cnts_file)
            df = pd.read_csv(cnts_file, delimiter='\t')
            genes += df.columns.tolist()
    else:
        for i in range(1, 4):
            cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
            print(cnts_file)
            df = pd.read_csv(cnts_file, delimiter='\t')
            genes += df.columns.tolist()
genes = list(set(genes))

In [13]:
len(genes)

18759

In [ ]:
cnts_df_gene = genes + ['Unnamed: 0', 'patient']
cnts_df_gene[-1]

In [19]:
import pandas as pd
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

cnts_directory = 'st2image/data/ST-cnts/'
files = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
# cnts_df_gene = genes + ['patient']
cnts_df = pd.DataFrame(columns=cnts_df_gene)
genes_df = pd.DataFrame(columns=genes)
for patient in files:
    if patient in ('A', 'B', 'C', 'D'):
        for i in range(1, 7):
            file_name = ''
            cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
            sub_folder_path = f"ST-imgs-split/{patient}/{patient}{i}"
            print(cnts_file)
            df = pd.read_csv(cnts_file, delimiter='\t')
            df['patient'] = patient
            # print(df.shape, len(df.columns.tolist()), len(cnts_df_gene))
            df_1 = get_gene(df, cnts_df_gene)
            cnts_df = pd.concat([cnts_df, df_1])
            # genes_df = pd.concat([genes_df, df_2])
    else:
        for i in range(1, 4):
            cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
            sub_folder_path = f"ST-imgs-split/{patient}/{patient}{i}"
            print(cnts_file)
            df = pd.read_csv(cnts_file, delimiter='\t')
            # print(df.shape, len(df.columns.tolist()), len(cnts_df_gene))
            df_1 = get_gene(df, cnts_df_gene)
            # df_2 = get_gene(df, genes)
            cnts_df = pd.concat([cnts_df, df_1])
            # genes_df = pd.concat([genes_df, df_2])
cnts_df.to_csv('st2image/full_gene_expression.csv', index=False)

st2image/data/ST-cnts/A1.tsv/ut_A1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/A2.tsv/ut_A2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/A3.tsv/ut_A3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/A4.tsv/ut_A4_stdata_filtered.tsv
ok
st2image/data/ST-cnts/A5.tsv/ut_A5_stdata_filtered.tsv
ok
st2image/data/ST-cnts/A6.tsv/ut_A6_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B1.tsv/ut_B1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B2.tsv/ut_B2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B3.tsv/ut_B3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B4.tsv/ut_B4_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B5.tsv/ut_B5_stdata_filtered.tsv
ok
st2image/data/ST-cnts/B6.tsv/ut_B6_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C1.tsv/ut_C1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C2.tsv/ut_C2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C3.tsv/ut_C3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C4.tsv/ut_C4_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C5.tsv/ut_C5_stdata_filtered.tsv
ok
st2image/data/ST-cnts/C6.tsv/ut_C6_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D1.tsv/ut_D1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D2.tsv/ut_D2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D3.tsv/ut_D3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D4.tsv/ut_D4_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D5.tsv/ut_D5_stdata_filtered.tsv
ok
st2image/data/ST-cnts/D6.tsv/ut_D6_stdata_filtered.tsv
ok
st2image/data/ST-cnts/E1.tsv/ut_E1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/E2.tsv/ut_E2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/E3.tsv/ut_E3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/F1.tsv/ut_F1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/F2.tsv/ut_F2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/F3.tsv/ut_F3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/G1.tsv/ut_G1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/G2.tsv/ut_G2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/G3.tsv/ut_G3_stdata_filtered.tsv
ok
st2image/data/ST-cnts/H1.tsv/ut_H1_stdata_filtered.tsv
ok
st2image/data/ST-cnts/H2.tsv/ut_H2_stdata_filtered.tsv
ok
st2image/data/ST-cnts/H3.tsv/ut_H3_stdata_filtered.tsv
ok

In [23]:
df = cnts_df.copy()
df = df.drop(columns=['Unnamed: 0', 'patient'])
df.head()

,PRSS42,TAGLN,CRTAC1,RDH11,FGG,CCNF,CXCR6,GATAD1,PRMT2,OR5K4,...,ARHGEF33,DDX47,RBMXL3,SYCP3,ALB,NME6,OTULIN,TCTE3,ADGRF3,EIF5AL1
0,0,2,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
import pandas as pd

count_greater_than_zero = df.apply(lambda x: (x > 0).sum()).sort_values(ascending=False)

# Create a DataFrame with columns 'gene' and 'count'
count_df = pd.DataFrame({'gene': count_greater_than_zero.index, 'count': count_greater_than_zero})

count_df.to_csv('st2image/data/gene_expression/gene_count.csv', index=False)

In [45]:
# cal quantile_85
quantile_85 = np.percentile(count_df['count'].values, 85)
tmp_count_df = count_df[count_df['count'] > quantile_85]
list_gene = tmp_count_df['gene'].values.tolist()

In [51]:
from tqdm import tqdm


def find_top_gene(N, list_quantile_gene):
    df = pd.read_csv('st2image/full_gene_expression.csv')
    df = df.fillna(0)
    df = df.drop(['Unnamed: 0', 'patient'], axis=1)
    df = df[list_quantile_gene]
    variations = df.var()
    top_max_var_gene = list(variations.nlargest(N).index)
    top_max_var_gene.append('Unnamed: 0')
    return top_max_var_gene


# Function to calculate the logarithm
def calculate_log(row):
    return np.log2((row * 1000) / row.sum() + 1)

def norm_gene(df):
    print('normalize gene count......')
    tmp_df = df.copy()
    df = df.drop(['Unnamed: 0'], axis=1)
    result = df.apply(lambda row: calculate_log(row), axis=1)
    result['Unnamed: 0'] = tmp_df['Unnamed: 0']
    print('normalize gene count done!')
    return result


def extract_top_gene(gene_file_path, top_max_var_gene):
    df = pd.read_csv(gene_file_path, delimiter='\t')
    df = norm_gene(df)
    # Extract column names from the DataFrame
    existing_columns = df.columns

    # Specify the desired columns
    desired_columns = top_max_var_gene

    # Find missing columns
    missing_columns = [col for col in desired_columns if col not in existing_columns]

    # Fill missing columns with 0
    for col in missing_columns:
        df[col] = 0

    # Reorder the DataFrame columns based on desired columns
    df = df[desired_columns]
    return df


def create_data_gene_image(list_quantile_gene):
    result = []
    print('finding top max var genes.....')
    top_max_var_gene = find_top_gene(1024, list_quantile_gene)
    print('find top max var gene done!')
    cnts_directory = 'st2image/data/ST-cnts/'
    files = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    for patient in files:
        if patient in ('A', 'B', 'C', 'D'):
            for i in range(1, 7):
                cnts_file = f'{cnts_directory}{patient}{i}.tsv/ut_{patient}{i}_stdata_filtered.tsv'
                print(cnts_file)
                #             df = pd.read_csv(cnts_file, delimiter='\t', usecols = top_max_var_gene)
                df = extract_top_gene(cnts_file, top_max_var_gene)
                for j, row in tqdm(df.iterrows()):
                    index = row['Unnamed: 0']
                    index = index.split('x')
                    x = int(index[0])
                    y = int(index[1])
                    row_value = df.iloc[j, : -1].tolist()
                    image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                    result.append((row_value, image_path, patient))

        else:
            for i in range(1, 4):
                cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
                print(cnts_file)
                #             df = pd.read_csv(cnts_file, delimiter='\t', usecols = top_max_var_gene)
                df = extract_top_gene(cnts_file, top_max_var_gene)
                for j, row in tqdm(df.iterrows()):
                    index = row['Unnamed: 0']
                    index = index.split('x')
                    x = int(index[0])
                    y = int(index[1])
                    row_value = df.iloc[j, : -1].tolist()
                    image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                    result.append((row_value, image_path, patient))
    result = pd.DataFrame(result, columns=['gene_expression', 'image_path', 'patient'])
    result = result.fillna(0)
    result = result.loc[(result != 0).any(axis=1)]
    result.to_csv('data_1024.csv')

create_data_gene_image(list_quantile_gene=list_gene)

finding top max var genes.....

/tmp/ipykernel_25285/1969826563.py:5: DtypeWarning: Columns (18760) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('st2image/full_gene_expression.csv')

find top max var gene done!
st2image/data/ST-cnts/A1.tsv/ut_A1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

346it [00:00, 1679.58it/s]

st2image/data/ST-cnts/A2.tsv/ut_A2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

325it [00:00, 1638.91it/s]

st2image/data/ST-cnts/A3.tsv/ut_A3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

359it [00:00, 1650.38it/s]

st2image/data/ST-cnts/A4.tsv/ut_A4_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

343it [00:00, 1544.14it/s]

st2image/data/ST-cnts/A5.tsv/ut_A5_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

332it [00:00, 1644.90it/s]

st2image/data/ST-cnts/A6.tsv/ut_A6_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

360it [00:00, 1688.92it/s]

st2image/data/ST-cnts/B1.tsv/ut_B1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

295it [00:00, 1712.03it/s]

st2image/data/ST-cnts/B2.tsv/ut_B2_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

270it [00:00, 1654.43it/s]

st2image/data/ST-cnts/B3.tsv/ut_B3_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

298it [00:00, 1636.50it/s]

st2image/data/ST-cnts/B4.tsv/ut_B4_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

283it [00:00, 1570.99it/s]

st2image/data/ST-cnts/B5.tsv/ut_B5_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

289it [00:00, 1661.99it/s]

st2image/data/ST-cnts/B6.tsv/ut_B6_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

277it [00:00, 1672.23it/s]

st2image/data/ST-cnts/C1.tsv/ut_C1_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

176it [00:00, 1654.52it/s]

st2image/data/ST-cnts/C2.tsv/ut_C2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

187it [00:00, 1638.29it/s]

st2image/data/ST-cnts/C3.tsv/ut_C3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

180it [00:00, 1556.75it/s]

st2image/data/ST-cnts/C4.tsv/ut_C4_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

184it [00:00, 1672.29it/s]

st2image/data/ST-cnts/C5.tsv/ut_C5_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

181it [00:00, 1667.84it/s]

st2image/data/ST-cnts/C6.tsv/ut_C6_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

178it [00:00, 1672.77it/s]

st2image/data/ST-cnts/D1.tsv/ut_D1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

306it [00:00, 1661.68it/s]

st2image/data/ST-cnts/D2.tsv/ut_D2_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

303it [00:00, 1453.92it/s]

st2image/data/ST-cnts/D3.tsv/ut_D3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

301it [00:00, 1651.43it/s]

st2image/data/ST-cnts/D4.tsv/ut_D4_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

302it [00:00, 1655.65it/s]

st2image/data/ST-cnts/D5.tsv/ut_D5_stdata_filtered.tsv

normalize gene count......
normalize gene count done!

306it [00:00, 1552.67it/s]

st2image/data/ST-cnts/D6.tsv/ut_D6_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

315it [00:00, 1479.87it/s]

st2image/data/ST-cnts/E1.tsv/ut_E1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

587it [00:00, 1621.44it/s]

st2image/data/ST-cnts/E2.tsv/ut_E2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

572it [00:00, 1652.64it/s]

st2image/data/ST-cnts/E3.tsv/ut_E3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

570it [00:00, 1676.45it/s]

st2image/data/ST-cnts/F1.tsv/ut_F1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

691it [00:00, 1497.73it/s]

st2image/data/ST-cnts/F2.tsv/ut_F2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

695it [00:00, 1592.01it/s]

st2image/data/ST-cnts/F3.tsv/ut_F3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

712it [00:00, 1567.84it/s]

st2image/data/ST-cnts/G1.tsv/ut_G1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

441it [00:00, 1518.74it/s]

st2image/data/ST-cnts/G2.tsv/ut_G2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

467it [00:00, 1545.44it/s]

st2image/data/ST-cnts/G3.tsv/ut_G3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

463it [00:00, 1496.45it/s]

st2image/data/ST-cnts/H1.tsv/ut_H1_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

613it [00:00, 1703.00it/s]

st2image/data/ST-cnts/H2.tsv/ut_H2_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

603it [00:00, 1671.01it/s]

st2image/data/ST-cnts/H3.tsv/ut_H3_stdata_filtered.tsv
normalize gene count......
normalize gene count done!

510it [00:00, 1681.29it/s]

In [ ]:
def create_data_gene_image(genes):
    result = []
    top_max_var_gene = genes
    cnts_directory = 'data/ST-cnts/'
    files = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
    for patient in files:
        if patient in ('A', 'B', 'C', 'D'):
            for i in range(1, 7):
                cnts_file = f'{cnts_directory}{patient}{i}.tsv/ut_{patient}{i}_stdata_filtered.tsv'
                print(cnts_file)
                df = pd.read_csv(cnts_file, delimiter='\t')
                df['patient'] = patient
                print(df.shape, len(df.columns.tolist()), len(cnts_df_gene))
                for j, row in tqdm(df.iterrows()):
                    index = row['Unnamed: 0']
                    index = index.split('x')
                    x = int(index[0])
                    y = int(index[1])
                    row_value = df.iloc[j, : -1].tolist()
                    image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                    result.append((row_value, image_path, patient))

        else:
            for i in range(1, 4):
                cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
                print(cnts_file)
                #             df = pd.read_csv(cnts_file, delimiter='\t', usecols = top_max_var_gene)
                df = extract_top_gene(cnts_file, top_max_var_gene)
                for j, row in tqdm(df.iterrows()):
                    index = row['Unnamed: 0']
                    index = index.split('x')
                    x = int(index[0])
                    y = int(index[1])
                    row_value = df.iloc[j, : -1].tolist()
                    image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                    result.append((row_value, image_path, patient))
    result = pd.DataFrame(result, columns=['gene_expression', 'image_path', 'patient'])
    result.to_csv('data_A.csv')

In [ ]:
cnts_df.to_csv('full_gene_expression_1.csv', index=False)

In [ ]:
cnts_df.shape

In [ ]:
df = pd.read_csv('/home/anlt69/Downloads/full_gene_expression.csv')
df.shape

In [ ]:
result = cnts_df
result = result.drop(columns=['Unnamed: 0', 'patient'])
variations = result.var()
print(variations)
# Get the top N columns with the maximum variance
top_max_var_gene = list(variations.nlargest(100).index)
# top_max_var_gene.append('Unnamed: 0')
# top_max_var_gene.append('Unnamed: 1')

In [ ]:
top_max_var_gene = list(variations.nlargest(100).index)
top_max_var_gene

In [ ]:
def extract_gene(gene_file_path, genes):
    df = pd.read_csv(gene_file_path, delimiter='\t')

    # Extract column names from the DataFrame
    existing_columns = df.columns

    # Specify the desired columns
    desired_columns = genes

    # Find missing columns
    missing_columns = [col for col in desired_columns if col not in existing_columns]

    # Fill missing columns with 0
    for col in missing_columns:
        df[col] = 0
    df = df[desired_columns]
    return df

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Gene_A': [10, 20, 30],
    'Gene_B': [15, 25, 35],
    'Gene_C': [12, 22, 32]
}

# Create the DataFrame
df = pd.DataFrame(data)
list_gene = ['Gene_A', 'Gene_B', 'Gene_C', 'Gene_D']

get_gene(df, list_gene)

In [ ]:
df = pd.read_csv('full_gene_expression_1.csv')
df.columns

In [ ]:
import numpy as pn
from gan_model import  *

X_train, gene_expression,  X_test, gene_expression_test = load_data('data.csv')

def scale_matrix(matrix, max):
    scaled_matrix = 2 * matrix/max - 1
    return scaled_matrix

In [ ]:
gene_expression

In [ ]:
result = []
top_max_var_gene = genes
cnts_directory = 'data/ST-cnts/'
files = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
for patient in files:
    if patient in ('A', 'B', 'C', 'D'):
        for i in range(1, 7):
            cnts_file = f'{cnts_directory}{patient}{i}.tsv/ut_{patient}{i}_stdata_filtered.tsv'
            print(cnts_file)
            df = extract_top_gene(cnts_file, top_max_var_gene)
            for j, row in tqdm(df.iterrows()):
                index = row['index']
                index = index.split('x')
                x = int(index[0])
                y = int(index[1])
                row_value = df.iloc[j, : -1].tolist()
                image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                result.append(row_value)

    else:
        for i in range(1, 4):
            cnts_file = cnts_directory + f"{patient}{i}.tsv/" + f'ut_{patient}{i}_stdata_filtered.tsv'
            print(cnts_file)
            #             df = pd.read_csv(cnts_file, delimiter='\t', usecols = top_max_var_gene)
            df = extract_top_gene(cnts_file, top_max_var_gene)
            for j, row in tqdm(df.iterrows()):
                index = row['index']
                index = index.split('x')
                x = int(index[0])
                y = int(index[1])
                row_value = df.iloc[j, : -1].tolist()
                image_path = f'ST-imgs-split/{patient}/{patient}{i}/sub_img_{x}_{y}.jpg'
                row_value += [image_path, patient]
                result.append(row_value)

In [62]:
import pandas as pd
df = pd.read_csv('st2image/data/gene_expression/full_gene_expression.csv')

/tmp/ipykernel_14579/3438010675.py:2: DtypeWarning: Columns (18760) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('st2image/data/gene_expression/full_gene_expression.csv')

In [63]:
# df = df.drop(columns=['Unnamed: 0', 'patient'])
df = df.fillna(0)
df_filtered = df.loc[~(df.drop(columns=['Unnamed: 0', 'patient']) == 0).all(axis=1)]
df_filtered.shape

(13620, 18761)

In [60]:
import pandas as pd

# Sample DataFrame
data = {
    'A': [0, 2, 0, 4],
    'B': [0, 0, 0, 5],
    'C': [0, 3, 0, 6],
    'D': [0, 0, 0, 0]
}
df = pd.DataFrame(data)

# Check if all values excluding columns 'A' and 'B' are 0
df_filtered = df.loc[~(df.drop(columns=['A', 'B']) == 0).all(axis=1)]

df_filtered

   A  B  C  D
1  2  0  3  0
3  4  5  6  0

In [31]:
df_filtered['Unnamed: 0'] = tmp_df['Unnamed: 0']
df_filtered['patient'] = tmp_df['patient']
df_filtered.shape

(13620, 18761)

In [51]:
data = {
    'A': [1, 0, 0, 0],
    'B': [4, 0, 0, 0],
    'C': [7, 0, 9, 0],
    'D': [1, 1, 1, 0],
    'E': [2, 2, 2, 0]
}

df = pd.DataFrame(data)
df

   A  B  C  D  E
0  1  4  7  1  2
1  0  0  0  1  2
2  0  0  9  1  2
3  0  0  0  0  0

In [52]:
subset_columns = ['A', 'B', 'C']

# Select the subset of the DataFrame
subset = df[subset_columns]

# Remove rows where all values are 0 in the subset
df = df.loc[(subset != 0).all(axis=1)]
df

   A  B  C  D  E
0  1  4  7  1  2

In [27]:
df_filtered.shape

(13620, 18761)

In [14]:
df.shape

(13620, 18761)

In [13]:
df_filtered.head()

,PRSS42,TAGLN,CRTAC1,RDH11,FGG,CCNF,CXCR6,GATAD1,PRMT2,OR5K4,...,RBMXL3,SYCP3,ALB,NME6,OTULIN,TCTE3,ADGRF3,EIF5AL1,Unnamed: 0.1,patient
0,0,2,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,10x13,A
1,0,2,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,10x14,A
2,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,10x15,A
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10x16,A
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,10x17,A